.bash_history
.bash_logout
.cache
Debian-Packages
Desktop
Documents
.dotnet
Downloads
.face
.face.icon
.fehbg
.git
.gitconfig
.gnupg
.icons
.ipython
.keras
.lesshst
.local
ls.log
.mozilla
Music
.nv
Pictures
.pki
.profile
Public
.ssh
.sudo_as_admin_successful
Templates
Videos
.vscode
.wget-hsts
.zoom
