anaconda3
auto-cpufreq
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache
Calibre Library
.conda
.config
Debian-Packages
Desktop
.dmrc
Documents
.dotnet
Downloads
.face
.face.icon
.fehbg
.gitconfig
.gitignore
.GlobalProtect
.gnupg
GP_HTML
.grip
.gtkrc-2.0
.icons
.ipython
.jackdrc
.joinnow
.jupyter
.keras
.lesshst
.local
.logseq
.mozilla
Music
.nv
Pictures
.pki
.profile
Public
.python_history
.rpmdb
.screenlayout
snap
.ssh
.sudo_as_admin_successful
Templates
.var
Videos
.vscode
.wget-hsts
.xsession-errors
.xsession-errors.old
.zoom
