[Desktop Entry]
Type=Application
Name=Mathworks Service Host
Exec=/home/anirudhkailaje/.MathWorks/ServiceHost/debian/v2024.3.2.1/bin/glnxa64/MathWorksServiceHost service --realm-id companion@prod@production
Terminal=false
